---
import type { AngularPageStructure, GenericItem } from '../angular-page-structure'
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro'
import { toKebabCase } from '@/utils/string'
import { renderItem } from '../angular-page-structure'
import Table from '../table/Table.astro'
import AngularMethodDocs from './AngularMethodDocs.astro'

interface Props {
  data: AngularPageStructure
}

const { data } = Astro.props
---

{
  data.map(
    (section) =>
      section.items.length > 0 && (
        <>
          <AnchorHeading level="2" id={toKebabCase(section.key)} class="mb-4 text-lg font-semibold">
            {section.label}
          </AnchorHeading>

          {section.items.map((item) => {
            const rendered: GenericItem = renderItem(item)

            return (
              <>
                <AnchorHeading level="3" id={rendered.id} class="mb-2">
                  {rendered.name}
                </AnchorHeading>

                {rendered.selector && (
                  <p class="mb-2">
                    Selector: <code class="ml-1">{rendered.selector}</code>
                  </p>
                )}

                {rendered.description && (
                  <div class="mb-4 max-w-none">
                    <p>{rendered.description}</p>
                  </div>
                )}

                {rendered.table && (
                  <Table title={rendered.table.title} columns={rendered.table.columns} rows={rendered.table.rows} />
                )}

                {rendered.methods && rendered.methods.length > 0 && (
                  <section class="mt-8">
                    <h5 class="mb-2 text-base font-semibold">Methods</h5>
                    {rendered.methods.map((method) => (
                      <AngularMethodDocs method={method} />
                    ))}
                  </section>
                )}
              </>
            )
          })}
        </>
      ),
  )
}
