---
import type { GenericItem, TypedocItem, TypedocPageStructure } from '@/config/typedoc-page-structure'
import AnchorHeading from '@astrojs/starlight/components/AnchorHeading.astro'
import { renderItem } from '@/config/typedoc-page-structure'
import { toKebabCase } from '@/utils/string'
import Table from '../table/Table.astro'

interface Props {
  data: TypedocPageStructure
}

const { data } = Astro.props
---

{
  data.map((section) => (
    <>
      <AnchorHeading level="2" id={toKebabCase(section.key)} class="mb-2 text-lg font-semibold">
        {section.label}
      </AnchorHeading>

      {section.items.map((item: TypedocItem) => {
        const rendered: GenericItem = renderItem(item)

        return (
          <>
            <AnchorHeading level="3" id={rendered.id} class="mb-2 text-base font-semibold">
              {rendered.name}
            </AnchorHeading>

            {rendered.description && <div class="mb-4 max-w-none" set:html={rendered.description} />}

            {rendered.code && (
              <pre class="mb-4 rounded-lg border whitespace-normal">
                <code class="bg-transparent!">{rendered.code}</code>
              </pre>
            )}

            {rendered.table && (
              <Table title={rendered.table.title} columns={rendered.table.columns} rows={rendered.table.rows} />
            )}

            {rendered.methods && rendered.methods.length > 0 && (
              <section class="mt-4">
                <h4 class="mb-2 text-sm font-semibold">Methods</h4>
                <Table
                  title="Methods"
                  columns={[
                    { label: 'Name', key: 'name', class: 'font-medium' },
                    { label: 'Description', key: 'description' },
                  ]}
                  rows={rendered.methods.map((m) => ({
                    name: m.name,
                    description: m.description ?? '-',
                  }))}
                />
              </section>
            )}
          </>
        )
      })}
    </>
  ))
}
